<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />
    <title>REPORT</title>
    <partial name="_P_StylesMaster" />
    @RenderSection("Styles", required: false)
</head>

<body class="pace-top">
    <div id="app" class="app app-sidebar-collapsed">
       @RenderBody()
    </div>

    <footer class="footer_layout_master_signin">
        <div class="p-1 text-center d-flex">
            @* <span class="d-flex align-items-center text-dark px-2"> *@
            @*     <a href="https://ecotech2a.com/" class="text-decoration-none px-1 text-dark" target="_blank">© 2025 CÔNG NGHỆ ĐƯỢC PHÁT TRIỂN BỞI  <b style="color: #009b5c">ECO</b><b style="color: #ec4c24">TECH 2A</b>, JSC </a> - *@
            @* </span> *@
        </div>
    </footer>

    <partial name="_P_ScriptsMaster" />
    @RenderSection(name: "Scripts", required: false)
</body>
</html>
